@font-face {
    font-family: "Minecraft";
    src: url("./assets/font/Minecraft.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: "Minecraft", sans-serif;
}